<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"> <i class="fas fa-newspaper"></i> Mongo Scraper</h1>
        <p class="lead">These are your saved articles!</p>
        <hr class="my-4">
        <p>These articles are scraped from the New York Times website using Cheerio.</p>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <ul class="articles">
                {{#each articles}}
                <li>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src={{this.img}} class="card-img img-fluid mx-auto d-block" alt="article_img">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.title}}</h5>
                                    <p class="card-text">{{this.content}}</p>
                                    <p class="card-text"><small class="text-muted float-right">{{this.date}}</small></p>

                                    <button data-id={{this._id}} class="btn btn-primary remove float-right"><i
                                            class="fas fa-minus-circle"></i> Remove
                                        Article</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>